## DatafestAfrica ML Hackathon

In [1]:
# Importing libraries
import pandas as pd
import numpy as np

## Abstract
 The aim of this project is to train a Machine Learning model to help a Financial Industry predict who is likely to complete an E-process application.

## Data Wrangling

In [3]:
# importing datasets
test = pd.read_csv('test.csv')
train = pd.read_csv('train.csv')

We will be performing our wrangling on the train dataset.

### Assessing

In [12]:
def info(df):
    print(train.shape),
    print('*' *40),
    print(train.info())
    print('*' *40)

info(train)
train.sample(5)

(12516, 21)
****************************************
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12516 entries, 0 to 12515
Data columns (total 21 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Entry_id              12516 non-null  int64
 1   age                   12516 non-null  int64
 2   pay_schedule          12516 non-null  object
 3   home_owner            12516 non-null  int64
 4   income                12516 non-null  int64
 5   months_employed       12516 non-null  int64
 6   years_employed        12516 non-null  int64
 7   current_address_year  12516 non-null  int64
 8   personal_account_m    12516 non-null  int64
 9   personal_account_y    12516 non-null  int64
 10  has_debt              12516 non-null  int64
 11  amount_requested      12516 non-null  int64
 12  risk_score            12516 non-null  int64
 13  risk_score_2          12516 non-null  float64
 14  risk_score_3          12516 non-null  float64
 15  risk_score_4          12516 non-null  float64
 16  risk_score_5          12516 non-null  float64
 17  ext_quality_score     12516 non-null  float64
 18  ext_quality_score_2   12516 non-null  float64
 19  inquiries_last_month  12516 non-null  int64
 20  e_signed              12516 non-null  int64
dtypes: float64(6), int64(14), object(1)
memory usage: 2.0+ MB
None
****************************************

,Entry_id,age,pay_schedule,home_owner,income,months_employed,years_employed,current_address_year,personal_account_m,personal_account_y,...,amount_requested,risk_score,risk_score_2,risk_score_3,risk_score_4,risk_score_5,ext_quality_score,ext_quality_score_2,inquiries_last_month,e_signed
6373,5632506,40,bi-weekly,0,2130,5,2,4,7,1,...,400,54700,0.723076,0.866549,0.565589,0.672208,0.547940,0.747940,5,1
10999,5536993,36,weekly,1,5130,0,6,6,2,3,...,900,68500,0.582748,0.832746,0.372066,0.501163,0.756469,0.456469,2,1
3707,2247197,42,weekly,0,3261,5,9,6,5,5,...,600,54600,0.571628,0.900094,0.603814,0.698659,0.563078,0.463078,5,1
3599,5693662,52,bi-weekly,1,1835,6,0,5,6,4,...,700,43050,0.299480,0.858738,0.511948,0.608990,0.616685,0.516685,4,0
7748,6579873,65,bi-weekly,0,3535,0,2,2,5,2,...,600,45000,0.555671,0.859737,0.453209,0.592352,0.304595,0.604595,5,0